body {
  margin: 0;
  padding: 0;
  background: #00010a;
  font-family: sans-serif;
  color: #fff;
}

h1 {
  margin: 0;
}

button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
