{
  "presets": ["@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "ignore": ["node_modules", "stories.js"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
