# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

aliases:
  - &defaults
    working_directory: /tmp/react-async
    docker:
      - image: circleci/node:10

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          name: Restore root dependencies from cache
          keys:
            - root-dependencies-v1-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Bootstrap
          command: yarn bootstrap
      - save_cache:
          name: Cache root dependencies
          key: root-dependencies-v1-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run: yarn build:packages
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
            - examples
            - packages
  lint:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: yarn lint
  test:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Test with compatibility checks
          command: yarn test:compat
      - persist_to_workspace:
          root: .
          paths:
            - coverage
  coverage:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: bash <(curl -s https://codecov.io/bash)
  examples:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Bootstrap
          command: yarn bootstrap
      - run:
          name: Build examples
          command: yarn build:examples
      - run:
          name: Test examples
          command: yarn test:examples
      - run:
          name: Deploy examples
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              yarn deploy:examples
            fi
          no_output_timeout: 30m

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - lint:
          requires:
            - build
      - test:
          requires:
            - build
      - coverage:
          requires:
            - test
      - examples:
          requires:
            - build
